cache
*.swp
*.pyc
terraform.tfstate*
.terraform*
*.pem
.idea
.DS_Store
inventory/*/inventory.ini
inventory/*/group_vars/all/all.yml
local-deploy/homi-output
local-deploy/monitoring
local-deploy/homi
local-deploy/properties.sh
local-deploy/cn*
local-deploy/pn*
local-deploy/en*
analytics-tool/output
analytics-tool/analysis_*
